@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	
}
/********Main-color********/
:root {
	--nav-color:#336699;
	--main_color:#d9e6f2;
	--button_coror:#bf80ff;
	--hover_color:#6666ff;
	--hover_border_color:#00004d;
	--third_color:green;
	--third_color:green;

}
.col-sm-3{
	  min-height: 100vh;
    width: 100%;
	
	background-color:var(--nav-color);
	display: block;
	position: relative;
	
}
div.profile_pic{
	margin:80px 80px;
	width: 200px;
	height: 250px;
	display: auto;
	position: absolute;
	border-radius: 50%;

}
/***Navigation bar start*****/


/***Navigation bar start*****/